### VS Code ###
.vscode/**
!.vscode/extensions.json
!.vscode/valet.code-snippets

### WINDOWS ###
desktop.ini
folder.ico
*.bak

### DOCS ###
docs/public/
docs/resources/
docs/.hugo_build.lock
docs/hugo.exe

### PROJECT ###
**.received.md
bin/
.tmp/
sandbox.sh
valet.tar.gz
**.tag.gz
**.zip