### VS Code ###
.vscode/**
!.vscode/extensions.json
!.vscode/settings.json

### WINDOWS ###
desktop.ini
folder.ico
*.bak

### DOCS ###
docs/public/
docs/resources/
docs/.hugo_build.lock
docs/hugo.exe

### PROJECT ###
**.received.md
bin/
.tmp/
valet.tar.gz
**.tag.gz
**.zip

# playground files
sandbox.sh
benchmark.sh
try.sh
sort.sh
f?

# tests
tests.d/1005-lib-io/resources/gitignored/**
tests.d/1004-lib-system/resources/gitignored/**
tests.d/1109-self-add-command/resources/gitignored/**
