# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# By default, all text files should have the "lf" (Unix) line endings
* text eol=lf

# Common files
*.yml text
*.xml text
*.yaml text
*.md text
*.txt text
*.json text
*.editorconfig text
*.config text
*.service text
*.sh text
*.zsh text
*.zshrc text
*.gitconfig text
VERSION text

# Java
*.java text
*.gradle text
*.properties text
*.kts text
*.snippet text
*.adoc text
*.sql text

# front technology
*.css text
*.html text
*.js text
*.ts text
*.stylelintrc text
*.scss text
*.webmanifest text

# dotnet
*.sln text
*.csproj text
*.user text
*.cs text
*.manifest text
*.resx text
*.nuspec text
*.p text

# conf
*.lua

# Windows text files that should be normalized to crlf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.ini text eol=crlf
*.reg text eol=crlf
*.vbs text eol=crlf

# Binary files that should not be normalized or diffed
*.jar binary
*.exe binary
*.msi binary
*.dll binary
*.pdb binary
*.pfx binary
*.snk binary

*.png binary
*.gif binary
*.jpg binary
*.bmp binary
*.ico binary
*.ttf binary
*.pdf binary

*.chm binary
*.7z  binary
*.zip binary

*.pptx binary
*.xlsx binary

*.key

config/wsl-vpnkit/wsl-gvforwarder  binary

# To list all file extensions present in the repo in ps1:
# Get-Childitem -Recurse | Select-Object Extension -Unique

*.service text