### VS Code ###
.vscode/**
!.vscode/extensions.json

### WINDOWS ###
desktop.ini
folder.ico
*.bak

### DOCS ###
docs/public/
docs/resources/
docs/.hugo_build.lock
docs/hugo.exe

### PROJECT ###
**.received.md
bin/
.tmp/
sandbox.sh
benchmark.sh
try.sh
valet.tar.gz
**.tag.gz
**.zip

# tests
tests.d/1005-lib-io/resources/gitignored/**