/* redefine the primary color */
:root {
  --primary-hue: 96deg;
  --primary-saturation: 100%;
  --primary-lightness: 30%;
  --tw-text-opacity: 1;
}

.dark {
  --primary-hue: 321deg;
  --primary-saturation: 100%;
  --primary-lightness: 83%;
}

.hx-max-w-6xl {
  max-width: 92rem;
}

.hx-max-w-\[90rem\] {
  max-width: 120rem;
}

.hero-container {
  max-width: 100rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

strong {
  background: linear-gradient(to left, #017c1b, #03a810);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

strong:is(html[class~="dark"] *) {
  background: linear-gradient(to left, #fbb3ff, #ee66bf);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hextra-custom-footer {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  font-size: .75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

hr {
  border: 0;
  border-top: 1px solid rgba(187, 187, 187, 0.082);
  margin: 1rem 0;
}
