/* redefine the primary color */
:root {
  --primary-hue: 96deg;
  --primary-saturation: 100%;
  --primary-lightness: 30%;
  --tw-text-opacity: 1;
}

.content h1 {
  color: #42c25a;
  font-size: var(--hx-text-5xl);
}

.content h1:is(html[class~="dark"] *) {
  color: #fbb3ff;
}

.content > h2 {
  font-size: var(--hx-text-5xl);
}

.content > h3 {
  font-size: var(--hx-text-4xl);
}

.content > h4 {
  font-size: var(--hx-text-2xl);
}

.content > h2::before {
  padding-right: 0.3em;
  margin-left: -0.9em;
  color: #67CB7A;
  content: "/";
}

.content > h3::before {
  padding-right: 0.3em;
  margin-left: -1.5em;
  content: "//";
  color: #67CB7A;
}

.content > h2:is(html[class~="dark"] *)::before {
  color: #fbb3ff;
}

.content > h3:is(html[class~="dark"] *)::before {
  color: #fbb3ff;
}

.hextra-card {
  background: rgb(250, 250, 250);
}

.hextra-card:is(html[class~="dark"] *) {
  background: rgb(27, 27, 27);
}

.dark {
  --primary-hue: 321deg;
  --primary-saturation: 100%;
  --primary-lightness: 83%;
}

summary strong {
  background: transparent;
  color: inherit;
}

.hextra-custom-footer {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  font-size: .75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

hr {
  border: 0;
  border-top: 1px solid rgba(187, 187, 187, 0.082);
  margin: 1rem 0;
}

div.section-nav {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(187, 187, 187, 0.082);
}

@media print {
  div.section-nav {
    display: none;
  }
}

a.section-nav-link {
  display: flex;
  align-items: center;
  max-width: 50%;
  gap: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--tw-prose-body, #4b5563);
  text-decoration: none;
  transition: color 0.2s;
  word-break: break-word;
}

a.section-nav-link:hover {
  color: hsl(var(--primary-hue) var(--primary-saturation) var(--primary-lightness));
}

html.dark a.section-nav-link {
  color: #d1d5db;
}

@media (min-width: 768px) {
  a.section-nav-link {
    font-size: 1.125rem;
  }
}

a.section-nav-prev {
  padding-right: 1rem;
}

a.section-nav-next {
  margin-left: auto;
  padding-left: 1rem;
  text-align: right;
}

.section-nav-icon {
  display: inline-block;
  height: 1.25rem;
  flex-shrink: 0;
}

.section-nav-icon-prev {
  transform: rotate(180deg);
}